environment         = "dev"
hosted_zone_name    = "mydomain.org"
ec2_keyname         = "my-ec2-key"
ec2_private_keyfile = "/local/path/my-ec2-key.pem"
stack_name          = "mystack"
sms_notification    = "+18125550123"
tags = {
  Creator    = "Username"
  For        = "Avalon Turnkey"
}
